# Entornos virtuales
.venv/
python/.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos temporales de compilación de LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
